body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('loginback.jpg');
    background-size: cover; /* Adjust as needed */
    /* Additional background properties can be added here */
}

/* ... (rest of your CSS code) */
.wrapper {
    width: 400px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.wrapper button {
padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    align-items: center;
}


button:hover {
    background-color: #45a049;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.toggle-button {
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle-button:hover {
    background-color: #45a049;
}

.toggle-button span {
    color: #fff;
    font-size: 16px;
}

.toggle-button i {
    font-size: 16px;
    transition: transform 0.3s;
}

.toggle-button.register i {
    transform: rotate(180deg);
}

.form-container {
    display: none;
}

.form-container.show {
    display: block;
}

.form-container.hide {
    display: none;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
}

.form-container input[type="text"],
.form-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-container button {
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.form-container button:hover {
    background-color: #45a049;
}
.wrapper button,
.toggle-button,
.form-container button {
    margin-bottom: 10px;
}
